client/__pycache__
client/client.log
client/Layout.png
server/__pycache__
server/server.log
server/database/mysqltest.py
server/database/.mypy_cache
server/database/__pycache__
bcrypt/
protocol/
client/email_verification/credentials.json
client/email_verification/token.json
.mypy_cache
client.log
client/email_verification
client/windows/__pycache__
client/local-cache.json
client/.idea
.idea
communication_protocol/__pycache__
