**__pycache__
**.log
**.idea
**.mypy_cache
bcrypt/
RabinMiller/.idea
RabinMiller/Cargo.lock
RabinMiller/target
client/email_verification/credentials.json
client/email_verification/token.json
client/local-cache.json
client/email_verification
BCryptLibrary/.vs
BCryptLibrary/x64
BCryptLibrary/BCryptLibrary.sln
BCryptLibrary/libtest/BCryptLib.pyproj
BCryptLibrary/libtestc/build
BCryptLibrary/libtestc/bcryptCPP.egg-info
BCryptLibrary/libtestc/x64
BCryptLibrary/libtestc/libtestc.vcxproj
BCryptLibrary/libtestc/libtestc.vcxproj.filters
BCryptLibrary/libtestc/libtestc.vcxproj.user
GraphLibrary/.vs
GraphLibrary/Debug 
GraphLibrary/x64
GraphLibrary/GraphLib.sln
GraphLibrary/GraphLib/__pycache__
GraphLibrary/GraphLib/libtest.pyproj
GraphLibrary/GraphLibCpp/build
GraphLibrary/GraphLibCpp/Debug
GraphLibrary/GraphLibCpp/GraphDB.egg-info
GraphLibrary/GraphLibCpp/x64
GraphLibrary/GraphLibCpp/GraphLibCpp.vcxproj
GraphLibrary/GraphLibCpp/GraphLibCpp.vcxproj.filters
GraphLibrary/GraphLibCpp/GraphLibCpp.vcxproj.user

server/chatapp.csv
server/database/graphdbtest.csv
server/mailtrapcreds.json
communication_protocol/primes_for_rsa.txt
communication_protocol/rsabasic.ipynb
.env
.vscode
